extends base

block content
  main.main
    .resetpassword-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--resetpassword
        .form__group.ma-bt-md
          label.form__label(for='passwordResetPassword') Password
          input#passwordResetPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
          label.form__label(for='passwordConfirmResetPassword') Confirm password
          input#passwordConfirmResetPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
          input#resetToken(type='hidden' value=`${resetToken}`)
        .form__group
          button.btn.btn--green.btn--reset Reset